body{display: flex;
  font-size: 35px;
justify-content: center;
text-align: center;}

img {width: 35px;
height: auto;}

header{
display:flex;
justify-content:center;
align-items: center;}

.mine{display:flex;
flex-wrap:wrap;
border:solid;
width:336px;
height:336px;}

.box{height:40px;
width:40px;
background-color: lightgrey;
border:1px solid;
margin: 0 0 0 0;}


.box1{
border:1px solid;
box-shadow: inset 3px 3px white,inset -3px -3px black;}

.hidden{
  opacity: 0.0;
}

.hidden:hover{
  opacity: 1;
}
